{% autoescape off %}
{% load i18n %}

{% blocktrans %}
Hi teacher!
You have been inserted into SchoolCalendar, a platform for managing the timetable of teachers and classes.

To access the platform use your username:
{% endblocktrans %}
{{ user.get_username }}

{% blocktrans %}
and click the link below to set your password:
{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}
If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Sincerely,
The School Calendar Team
{% endblocktrans %}
{% endautoescape %}