{% extends 'timetable/base.html' %}
{% load i18n %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
{% endblock %}

{% block style %}
.check-subsitute{
    margin-top: calc(50% - 10px) !important;
}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Substitute a teacher' %}</h3>
    </div>
    <div class="row p-1">
        <div class="col-6">
            {% trans 'School year:' %}
            <select id="school_year" onchange="getTeachers()">
                {% for year in school_years %}
                    <option value="{{ year.id }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6">
            {% trans 'Teachers:' %}
            <select id="teachers" onchange="">
            </select>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            {% trans 'Choose a date:' %}
            <input type="text" id="date" class="datepicker" />            
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success" onclick="getTeacherAssignments($(this))">{% trans 'Load lectures' %}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 container">
            <div id="lectures">
            </div>
    </div>
</div>
</div>

{% endblock %}


{% block script %}
    $(document).ready(() => {
        $('.datepicker').datepicker();
        getTeachers();
    });

    function getTeachers(){
        let url = "{% url 'teacher-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            $("#teachers").empty();
            for(let tea of data){
                $("#teachers").append(`
                    <option value="${tea.id}">${tea.first_name} ${tea.last_name}</option>
                `);
            }
        });
    }

    function getTeacherAssignments(){
        let url = "{% url 'teacher_assignments-list' 1234 9999 %}"
            .replace('1234', $("#teachers").val())
            .replace('9999', $('#school_year').val());
        
        let date = moment($("#date").val()).format('YYYY-MM-DD');
        let data = {
            'from_date': date,
            'to_date': date
        };
        $.get(url, data=data, function(data) {
            $("#lectures").empty();
            for(let assign of data){
                $("#lectures").append(`
                    <hr/>
                    <div class="row m-0">
                        <b>${assign.subject.name}</b>&nbsp;${assign.hour_start} - ${assign.hour_end}&nbsp;
                        {% trans 'Available teachers:' %}
                        <ul class="list-group col-12 my-2" id="sub_teachers-${assign.id}">
                        </ul>
                        <button type="button" class="btn btn-success" assignId="${assign.id}" teaId="${assign.teacher.id}" subId="${assign.subject.id}" date="${assign.date}" 
                            hourStart="${assign.hour_start}" hourEnd="${assign.hour_end}" course="${assign.course}" schoolYear="${assign.school_year}" school="${assign.school}"
                            onclick="substituteTeacher($(this))">{% trans 'Make substitution' %}</button>
                    </div>
                `);

                let substituteBlock = $("#lectures").find("ul#sub_teachers-" + assign.id);
                getSubstituteTeachers(assign.id, substituteBlock);
            }
            if(data.length === 0){
                $("#lectures").append(`<b>{% trans 'No lectures found!' %}</b>`);
            }
        });
    }

    function getSubstituteTeachers(assignId, substSelect){
        let url = "{% url 'teacher_substitution-list' 1234 %}"
            .replace('1234', assignId);
        $.get(url, function(data) {
            substSelect.empty();
            for(let tea of data){
                substSelect.append(`
                    <li class="list-group-item row" style="display: flex;">
                        <div class="col-1 text-center">
                            <input class="check-subsitute" type="radio" name="radio-${assignId}" value="${tea.id}">
                        </div>
                        <div class="col-11">
                            <b>${tea.first_name} ${tea.last_name}</b><br/>
                            {% trans 'Hours of substitutions made:' %} ${tea.substitutions_made_so_far}<br/>
                            {% trans 'Has a lesson before:' %} ${tea.has_hour_before}<br/>
                            {% trans 'Has a lesson after:' %} ${tea.has_hour_after}<br/>
                        </div>
                    </li>
                `);
            }
        });
    }

    function substituteTeacher(btn){
        let assignId = btn.attr("assignId");
        console.log(assignId)
        let teacherId = $("input[name=radio-" + assignId + "]:checked").val();
        
        if(teacherId !== undefined){
            let url = "{% url 'assignments-list' %}" + assignId + "/";
            let data = {
                csrfmiddlewaretoken: Cookies.get('csrftoken'),
                absent: true,
                teacher_id: btn.attr("teaId"),
                subject_id: btn.attr("subId"),
                date: btn.attr("date"),
                hour_start: btn.attr("hourStart"),
                hour_end: btn.attr("hourEnd"),
                course: btn.attr("course"),
                school_year: btn.attr("schoolYear"),
                school: btn.attr("school")
            }
            $.ajax({
                url: url,
                type: 'PUT',
                headers: { "X-CSRFToken": Cookies.get('csrftoken') },
                data: data,
                statusCode: {
                    200: function(xhr) {
                        getTeacherAssignments();
                    }
                }
            });

            url = "{% url 'assignments-list' %}";

            data.teacher_id = teacherId;
            data.substitution = true;
            data.absent = false;

            $.post(url, data=data, function(data) {
            });
        }
    }
{% endblock %}
