{% extends 'timetable/base.html' %}
{% load i18n %}

{% block head %}
<!-- TODO: change using git submodule -->
<link rel="stylesheet" href="https://raw.githack.com/DHZ-calendar/timetable.js/develop/timetable.css"/>
<script src="https://raw.githack.com/DHZ-calendar/timetable.js/develop/timetable.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
{% endblock %}

{% block style %}
.cal-block-absence {
    background-color: darkgray;
}
.cal-block-conflict {
    background-color: lightsalmon;
}

.cal-event-bes {
    background-color: #ffb554;
}

.list-teachers hr {
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Plan a timetable' %}</h3>
    </div>
    <div class="row">
        <div class="col">
            {% trans 'School year:' %}
            <select id="school_year">
                {% for year in school_years %}
                    <option value="{{ year.id }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            {% trans 'Choose a class:' %}
            <select id="course_year" onchange="getClassSections()">
            </select>
            {% trans 'section:' %}
            <select id="course_section" onchange="getTeachers()">
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-sm">{% trans 'Add extra lecture'%}</button>            
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row py-3">                
                <div class="col text-left">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="goPrevWeek()"><- {% trans 'Previous week'%}</button>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="goNextWeek()">{% trans 'Next week'%} -></button>
                </div>
            </div>
            <table class="container-fluid" id="calendar">
            </table>
        </div>
        <div class="col-2">
            {% trans 'List of teachers:' %}
            <ul class="list-group" id="teachers_list">
                                
            </ul>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    let timetable;
    let currentDate;
    $(document).ready(() => {
        let cal = $("#calendar");
        timetable = new Timetable(cal, 7, 23);

        let blockStates = {
            'available': 'cal-block-available',
            'absence': 'cal-block-absence',
            'conflict': 'cal-block-conflict'
        };
        timetable.setMapOfBlockStates(blockStates);

        //find the first day of the week        
        currentDate = moment().day(1).toDate();

        loadData();
        getClassYears();
    });

    function loadData(){
        resetTeacherState();

        timetable.deleteAllEvents();
        timetable.deleteAllBlocks();
        getBlocks();


        let startDate = currentDate;
        let endDate = moment(startDate).add(6, 'days').toDate();

        timetable.setDays(new Date(startDate));

        getHolidays(startDate, endDate);
        getStages(startDate, endDate);
        getAssignments(startDate, endDate);
    }

    function goNextWeek(){
        currentDate = moment(currentDate).add(7, 'days').toDate();
        loadData();
    }
    function goPrevWeek(){
        currentDate = moment(currentDate).subtract(7, 'days').toDate();
        loadData();
    }

    function resetTeacherState(){
        for(let tea of $('#teachers_list').children()){
            $(tea).removeClass('active');
        }
    }

    function parseStringTime(time){
        let arr = time.split(':');
        let hours = parseInt(arr[0]);
        let min = parseInt(arr[1]);
        return { hours: hours, min: min };
    }
    function formatDate(date){
        if(date === undefined)
            return date;

        let frm = (x) => ("0" + x).slice(-2);
        return date.getFullYear() + "-" + frm(date.getMonth() + 1) + "-" + frm(date.getDate());
    }

    function extraBlockExists(date, hourStart, hourEnd){
        let starts_at = parseStringTime(hourStart);
        let ends_at = parseStringTime(hourEnd);
        let day_of_week = moment(date).day();
        let blockId = day_of_week + hourStart + hourEnd;

        let block = timetable.getBlock(blockId);
        return block !== undefined;
    }
    function createExtraBlock(date, hourStart, hourEnd){
        let starts_at = parseStringTime(hourStart);
        let ends_at = parseStringTime(hourEnd);
        let day_of_week = moment(date).day();
        let blockId = day_of_week + hourStart + hourEnd;

        let block = timetable.getBlock(blockId);
        if(block === undefined){
            block = new Block(blockId, "{% trans 'Extra lecture' %}", day_of_week, starts_at, ends_at);
            timetable.addBlock(block);
        }
        return block;
    }
    function getBlocks(){
        let url = "{% url 'hour_slot-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            for(let slot of data){
                let starts_at = parseStringTime(slot.starts_at);
                let ends_at = parseStringTime(slot.ends_at);

                let block = new Block(slot.id, slot.hour_number + "° {% trans 'lecture' %}", slot.day_of_week, starts_at, ends_at);
                timetable.addBlock(block);
            }
        });
    }
    function getClassYears(){
        let url = "{% url 'year_only_course-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            for(let year of data){
                $('#course_year').append(`<option value="${year.year}">${year.year}</option>`);
            }

            //update section select
            getClassSections();
        });
    }
    function getClassSections(){
        let url = "{% url 'section_only_course-list' %}";
        let data = {
            'school_year': $('#school_year').val(),
            'year': $('#course_year').val()
        };
        $('#course_section').empty();
        $.get(url, data=data, function(data) {
            for(let sect of data){
                $('#course_section').append(`<option value="${sect.id}">${sect.section}</option>`);
            }

            //update list of teachers
            getTeachers();

            let startDate = currentDate;
            let endDate = moment(startDate).add(6, 'days').toDate();

            //update assignments
            getAssignments(startDate, endDate);
        });
    }

    function getTeachers(){
        let url = "{% url 'hour_per_teacher_in_class-list' %}";
        let data = {
            'school_year': $('#school_year').val(),
            'course': $('#course_section').val()
        };
        $.get(url, data=data, function(data) {
            $('#teachers_list').empty();
            for(let tea of data){
                let html = `
                    <li class="list-group-item list-teachers">
                        <b>${tea.teacher.first_name} ${tea.teacher.last_name}</b> - ${tea.subject.name}<br/>
                        <div class="row font-italic">
                            <span class="col-9">{% trans 'Hours of theaching' %}:</span>
                            <span class="col">${tea.hours}</span>
                        </div>
                        <div class="row font-italic">
                            <span class="col-9">{% trans 'B.E.S.' %}</span>
                            <span class="col">${tea.hours_bes}</span>
                        </div>
                        <hr/>
                        <div class="row font-italic">
                            <span class="col-9">{% trans 'Missing hours' %}:</span>
                            <span class="col">${tea.missing_hours}</span>
                        </div>
                        <div class="row font-italic">
                            <span class="col-9">{% trans 'B.E.S.' %}</span>
                            <span class="col">${tea.missing_hours_bes}</span>
                        </div>
                        <div class="row">
                            <button type="button" class="col-6 btn cal-event" onclick="teacherClick($(this).parent().parent(), ${tea.teacher.id}, ${tea.subject.id}, ${tea.school}, false)">{% trans 'Assign lecture' %}</button>
                            <button type="button" class="col-6 btn cal-event-bes" onclick="teacherClick($(this).parent().parent(), ${tea.teacher.id}, ${tea.subject.id}, ${tea.school}, true)">{% trans 'Assign B.E.S.' %}</button>
                        </div>
                    </li>`;
                $('#teachers_list').append(html);
            }
        });
    }

    function getAssignments(startDate, endDate){
        let url = "{% url 'assignments-list' %}";
        let data = {
            'school_year': $('#school_year').val(),
            'course': $('#course_section').val(),
            'from_date': formatDate(startDate),
            'to_date': formatDate(endDate)
        };
        timetable.deleteAllEvents();
        $.get(url, data=data, function(data) {
            for(let assign of data){
                let blockId = assign.hour_slot;
                if(blockId === null){
                    blockId = createExtraBlock(assign.date, assign.hour_start, assign.hour_end).id;
                }

                let teacher = assign.teacher.first_name + " " + assign.teacher.last_name;
                let customEvent = new Event(assign.id, teacher, assign.subject.name);
                let clickEvent = (event) => {
                    alert("Lecture " + event.lecture + ", teacher " + event.teacher);
                };
                timetable.addEvent(customEvent, blockId, clickEvent, deleteAssignment);

                if(assign.bes){
                    customEvent.htmlElement.addClass('cal-event-bes');
                }
            }
        });
    }

    function getHolidays(startDate, endDate){
        let url = "{% url 'holiday-list' %}";
        let data = {
            'school_year': $('#school_year').val(),
            'from_date': formatDate(startDate),
            'to_date': formatDate(endDate)
        };
        $.get(url, data=data, function(data) {
            for(let day of data){
                let start = moment(day.start);
                let end = moment(day.end);
                while(start <= end) {
                    timetable.lockDay(start.weekday() - 1, day.name);
                    start.add(1, 'days');
                }
            }
        });
    }
    function getStages(startDate, endDate){
        let url = "{% url 'stage-list' %}";
        let data = {
            'school_year': $('#school_year').val(),
            'course': $('#course_section').val(),
            'from_date': formatDate(startDate),
            'to_date': formatDate(endDate)
        };
        $.get(url, data=data, function(data) {
            for(let day of data){
                let start = moment(day.start);
                let end = moment(day.end);
                while(start <= end) {
                    timetable.lockDay(start.weekday() - 1, day.name);
                    start.add(1, 'days');
                }
            }
        });
    }

    function teacherClick(btn, teacherId, subjId, schoolId, bes){
        btn = $(btn);

        if(!btn.hasClass('active')){
            btn.addClass('active');

            for(let blk of Object.keys(timetable.blocks)){
                timetable.getBlock(blk).setState('available');
                timetable.getBlock(blk).setOnClick((blk) => addAssignment(teacherId, subjId, schoolId, blk, bes));
            }

            setLockedBlocksTeacher(teacherId);
            setLockedBlocksAbsenceTeacher(teacherId);
        }
        else{
            btn.removeClass('active');

            timetable.resetAllBlocksStates();
        }
    }

    function setLockedBlocksTeacher(teacherId){
        let school_year = $('#school_year').val();
        let startDate = currentDate;
        let endDate = moment(startDate).add(6, 'days').toDate();

        let url = "/timetable/api/teacher_assignments/" + teacherId + "/" + school_year;
        let data = {
            'school_year': school_year,
            'from_date': formatDate(startDate),
            'to_date': formatDate(endDate)
        };
        $.get(url, data=data, function(data) {
            for(let block of data){
                let blockId = block.hour_slot;
                let create = true;
                if(blockId === null){
                    if(!extraBlockExists(block.date, block.hour_start, block.hour_end))
                       create = false; 
                }

                if(create){
                    timetable.getBlock(blockId).setState('conflict');
                    timetable.getBlock(blockId).setOnClick();
                }
            }
        });
    }

    function setLockedBlocksAbsenceTeacher(teacherId){
        let school_year = $('#school_year').val();
        let startDate = currentDate;
        let endDate = moment(startDate).add(6, 'days').toDate();

        let url = "/timetable/api/teacher_absence_block/" + teacherId + "/" + school_year;
        let data = {
            'school_year': school_year,
            'from_date': formatDate(startDate),
            'to_date': formatDate(endDate)
        };
        $.get(url, data=data, function(data) {
            for(let block of data){
                let blockId = block.hour_slot;
                let create = true;
                if(blockId === null){
                    if(!extraBlockExists(block.date, block.hour_start, block.hour_end))
                       create = false; 
                }

                if(create){
                    timetable.getBlock(blockId).setState('absence');
                    timetable.getBlock(blockId).setOnClick();
                }
            }
        });
    }

    function addAssignment(teacherId, subjId, schoolId, block, bes){
        let url = "{% url 'assignments-list' %}";

        let date = moment(currentDate).add(block.day, 'days').format('YYYY-MM-DD');
        let data = {
            csrfmiddlewaretoken: Cookies.get('csrftoken'),
            teacher_id: teacherId,
            course: $('#course_section').val(),
            subject_id: subjId,
            school_year: $('#school_year').val(),
            school: schoolId,
            date: date,
            hour_start: block.startTime.hours + ':' + block.startTime.min,
            hour_end: block.endTime.hours + ':' + block.endTime.min,
            bes: bes,
            substitution: false,
            absent: false
        };
        $.post(url, data=data, function(data) {
            loadData();
        });
    }

    function deleteAssignment(assign){
        let res = confirm("{% trans 'Are you sure to delete this lecture?' %}");
        if(res){
            let params = {
                'from_date': formatDate(currentDate),
                'to_date': formatDate(moment(currentDate).add(6, 'days').toDate())
            };
            let url = "{% url 'assignments-list' %}" + assign.id + "?" + $.param(params);
            $.ajax({
                url: url,
                type: 'DELETE',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get("csrftoken"));
                },
                success: function(result) {
                    console.log(result, "OK");
                }
            });
        }
        return res;
    }
{% endblock %}
