{% extends 'timetable/base.html' %}
{% load i18n %}

{% block head %}
<!-- TODO: change using git submodule -->
<link rel="stylesheet" href="https://raw.githack.com/DHZ-calendar/timetable.js/develop/timetable.css"/>
<script src="https://raw.githack.com/DHZ-calendar/timetable.js/develop/timetable.js"></script>
{% endblock %}

{% block style %}  
.list-teachers:hover{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Plan a timetable' %}</h3>
    </div>
    <div class="row">
        <div class="col">
            <!-- TODO: change using a form -->
            {% trans 'Choose a class:' %}
            <select>
                <option value="1">1 A</option>
                <option value="2">2 A</option>
                <option value="3">3 A</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row">                
                <div class="col text-left">
                    <button type="button" class="btn btn-secondary btn-sm"><- {% trans 'Previous week'%}</button>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-secondary btn-sm">{% trans 'Next week'%} -></button>
                </div>
            </div>
            <table class="container-fluid" id="calendar">
            </table>
        </div>
        <div class="col-2">
            {% trans 'List of teachers:' %}
            <ul class="list-group">
                <li class="list-group-item list-teachers">
                    <b>Mario Rossi</b><br/>
                    <span>{% trans 'Hours of theaching' %}: 114</span>
                    <span>{% trans 'Hours of B.E.S.' %}: 12</span>
                </li>
                
              </ul>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    let timetable;
    $(document).ready(() => {
        let cal = $("#calendar");
        timetable = new Timetable(cal, 8, 23);
    });
{% endblock %}
