{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}"/>
{% endblock %}

{% block body %}
    <h1>{% trans 'Assignment' %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>


    <script>
        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        $('.timepicker').timepicker({
                minuteStep: 1,
                appendWidgetTo: 'body',
                showSeconds: false,
                showMeridian: false,
                defaultTime: false
            });
    </script>
{% endblock %}