{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="col text-center">{% trans 'School Year' %}</h1>
    </div>
    <div class="row">
        <form method="post" class="form-group col text-center">
            {% csrf_token %}
            {{ form }}
            <br/>
            <br/>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
</div>

    <script>
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    </script>
{% endblock %}