{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}"/>
{% endblock %}

{% block style %}
.check-subsitute{
    margin-top: calc(50% - 10px) !important;
}
.teachers-list{
    max-height: 350px;
    overflow-y: auto;
}
.teachers-list-others{
    max-height: 200px;
    overflow-y: auto;
}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3 class="col text-center">{% trans 'Substitute a teacher' %}</h3>
    </div>
    <div class="row p-1">
        <div class="col-6">
            {% trans 'School year:' %}
            <select id="school_year" class="form-control form-control-custom" onchange="getTeachers()">
                {% for year in school_years %}
                    <option value="{{ year.id }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6">
            {% trans 'Teachers:' %}
            <select id="teachers" class="form-control form-control-custom" onchange="">
            </select>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            {% trans 'Choose a date:' %}
            <input type="text" class="form-control form-control-custom datepicker" id="date" data-date-format='dd/mm/yyyy' />
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success" onclick="getTeacherAssignments()">{% trans 'Load lectures' %}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 container">
            <div id="lectures" class="accordion mt-4">
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    $(document).ready(() => {
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });
        getTeachers();
    });

    function getTeachers(){
        let url = "{% url 'teacher-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            $("#teachers").empty();
            for(let tea of data){
                $("#teachers").append(`
                    <option value="${tea.id}">${tea.last_name} ${tea.first_name}</option>
                `);
            }
        });
    }

    function getTeacherAssignments(){
        let url = "{% url 'teacher_assignments-list' 1234 9999 %}"
            .replace('1234', $("#teachers").val())
            .replace('9999', $('#school_year').val());
        
        let date = moment($("#date").val(), 'DD-MM-YYYY').format('YYYY-MM-DD');
        let data = {
            'from_date': date,
            'to_date': date
        };
        $("#lectures").empty();
        $.get(url, data=data, function(data) {
            for(let assign of data){
                let colorClass = 'bg-secondary';
                let substText = ``;
                let availableTeachers = ``;
                if (assign.absent == true) {
                    colorClass = 'bg-success text-white';
                    if (assign.eventual_substitute)
                        substText = `- {% trans 'Substituted by' %} ${assign.eventual_substitute.last_name} ${assign.eventual_substitute.first_name}`;
                    availableTeachers = `
                        <div id="collapse-${assign.id}" class="collapse" aria-labelledby="card-${assign.id}" data-parent="#lectures">
                            <div class="card-body text-center">
                                <a href="#" class="btn btn-primary" role="button" aria-pressed="true" onclick="sendSubstitutionEmail(${assign.id})">
                                    {% trans 'Send an email to the teacher' %}
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                    </svg>
                                </a>
                                <a href="#" class="btn btn-danger" role="button" aria-pressed="true" onclick="downloadSubstitutionTicket(${assign.id})">
                                    {% trans 'Download ticket PDF' %}
                                    <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                                      <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>`;
                }
                else {
                    availableTeachers = `
                        <div id="collapse-${assign.id}" class="collapse" aria-labelledby="card-${assign.id}" data-parent="#lectures">
                            <div class="card-body text-center">
                                <b>{% trans 'Available teachers:' %}</b>
                                <ul class="list-group teachers-list col-12 my-2 text-left" id="sub_teachers-${assign.id}">
                                </ul>
                                <hr/>
                                <b>{% trans 'Other teachers: (the substitution will not be counted)' %}</b>
                                <ul class="list-group teachers-list teachers-list-others col-12 my-2 text-left" id="sub_teachers-others-${assign.id}">
                                </ul>
                                <button type="button" class="btn btn-success mt-2" assignId="${assign.id}" onclick="substituteTeacher($(this))">
                                    {% trans 'Make substitution' %}
                                </button>
                            </div>
                        </div>`;
                }

                let htmlElement = `
                    <div class="card" id="card-${assign.id}">
                        <div class="card-header ${colorClass}">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left text-white" type="button" data-toggle="collapse" data-target="#collapse-${assign.id}" aria-expanded="false" aria-controls="collapse-${assign.id}">
                                    <b>${assign.subject.name}</b>&nbsp;${assign.hour_start.substring(0, 5)} - ${assign.hour_end.substring(0, 5)}&nbsp; ${assign.course.year} ${assign.course.section}
                                    <b>${substText}</b>
                                </button>
                            </h2>
                        </div>
                        ${availableTeachers}
                    </div>
                `;
                $("#lectures").append(htmlElement);

                let substituteBlock = $("#lectures").find("ul#sub_teachers-" + assign.id);
                let substituteOthersBlock = $("#lectures").find("ul#sub_teachers-others-" + assign.id);
                getSubstituteTeachers(assign.id, substituteBlock, substituteOthersBlock);
            }
            if(data.length === 0){
                $("#lectures").html(`<b>{% trans 'No lectures found!' %}</b>`);
            }
        });
    }

    function getSubstituteTeachers(assignId, substSelect, substOthersSelect){
        let url = "{% url 'teacher_substitution-view' 1234 %}"
            .replace('1234', assignId);
        $.get(url, function(data) {
            substSelect.empty();
            for(let tea of data.available_teachers){
                substSelect.append(`
                    <li class="list-group-item row" style="display: flex;">
                        <div class="col-1 text-center">
                            <input class="check-subsitute" type="radio" name="radio-${assignId}" value="${tea.id}">
                        </div>
                        <div class="col-11">
                            <b>${tea.first_name} ${tea.last_name}</b><br/>
                            {% trans 'Hours of substitutions made:' %} ${tea.substitutions_made_so_far}<br/>
                            {% trans 'Has a lesson before:' %} ${tea.has_hour_before}<br/>
                            {% trans 'Has a lesson after:' %} ${tea.has_hour_after}<br/>
                        </div>
                    </li>
                `);
            }
            for(let tea of data.other_teachers){
                substOthersSelect.append(`
                    <li class="list-group-item row" style="display: flex;">
                        <div class="col-1 text-center">
                            <input class="check-subsitute" type="radio" name="radio-${assignId}" value="${tea.id}">
                        </div>
                        <div class="col-11">
                            <b>${tea.first_name} ${tea.last_name}</b><br/>
                            {% trans 'Hours of substitutions made:' %} ${tea.substitutions_made_so_far}<br/>
                            {% trans 'Has a lesson before:' %} ${tea.has_hour_before}<br/>
                            {% trans 'Has a lesson after:' %} ${tea.has_hour_after}<br/>
                        </div>
                    </li>
                `);
            }
        });
    }

    async function substituteTeacher(btn){
        let assignId = btn.attr("assignId");
        let teacherId = $("input[name=radio-" + assignId + "]:checked").val();
        
        if(teacherId !== undefined){
            let url = "{% url 'substitute_teacher_api-view' 1234 9999 %}"
                    .replace("1234", assignId)
                    .replace("9999", teacherId);
            let data = {
                csrfmiddlewaretoken: Cookies.get('csrftoken')
            }

            let res = await $.post(url, data=data);

            getTeacherAssignments();
        }
    }

    async function sendSubstitutionEmail(assignId){
        let url = "{% url 'substitution_teacher_email-view' 1234 %}"
            .replace('1234', assignId);
        let data = {
            csrfmiddlewaretoken: Cookies.get('csrftoken'),
        };
        try{
            data = await $.post(url, data=data);
            alert(_TRANS['sent'])
        }
        catch{
            alert(_TRANS['error'])
        }
    }
    async function downloadSubstitutionTicket(assignId){
        let url = "{% url 'substitution_pdf_ticket-view' 1234 %}"
            .replace('1234', assignId);

        window.location.href = url;
    }


    _TRANS = {
        'sent': "{% trans 'Substitution email sent correctly!' %}",
        'error': "° {% trans 'An error appears while sending the substitution email!' %}"
    };
{% endblock %}
