{% extends 'timetable/base.html' %}
{% load i18n %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Teachers report' %}</h3>
    </div>
    <div class="row">
        <div class="col text-right">
            <a href="{% url 'teacher_pdf_report-view' %}" class="btn btn-danger" role="button" aria-pressed="true">
                {% trans 'Download PDF' %}
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                      <th scope="col">{% trans 'Last name' %}</th>
                      <th scope="col">{% trans 'First name' %}</th>
                      <th scope="col">{% trans 'Subject' %}</th>
                      <th scope="col">{% trans 'Course' %}</th>
                      <th scope="col">{% trans 'Teaching hours made' %}</th>
                      <th scope="col">{% trans 'Substitution hours made (total)' %}</th>
                      <th scope="col">{% trans 'B.E.S. hours made' %}</th>
                      <th scope="col">{% trans 'Missing teaching hours' %}</th>
                      <th scope="col">{% trans 'Missing B.E.S. hours' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher_hours in teachers_report %}
                        <tr>
                            <th scope="row">{{ teacher_hours.last_name }}</th>
                            <th scope="row">{{ teacher_hours.first_name }}</th>
                            <td>{{ teacher_hours.subject }}</td>
                            <td>{{ teacher_hours.course }}</td>
                            <td>{{ teacher_hours.normal_done }}</td>
                            <td>{{ teacher_hours.substitution_done }}</td>
                            <td>{{ teacher_hours.bes_done }}</td>
                            <td>{{ teacher_hours.missing_hours }}</td>
                            <td>{{ teacher_hours.missing_bes }}</td>
                        </tr>
                    {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
