{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/locale/bootstrap-table-it-IT.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/locale/bootstrap-table-en-US.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Teachers report' %}</h3>
    </div>
    <!--
    <div class="row">
        <div class="col text-right">
            <a href="{% url 'teacher_pdf_report-view' %}" class="btn btn-danger" role="button" aria-pressed="true">
                {% trans 'Download PDF' %}
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col">
            {% trans 'School year:' %}
            <select id="school_year" class="form-control form-control-custom" onchange="loadData()">
                {% for year in school_years %}
                    <option value="{{ year.id }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <table id="table" data-toggle="table" data-search="true" data-detail-view="true" data-detail-formatter="detailFormatter">
                <thead class="table-primary">
                    <tr>
                        <th data-field="last_name">{% trans 'Last name' %}</th>
                        <th data-field="first_name">{% trans 'First name' %}</th>
                        <th data-field="hours_done">{% trans 'Teaching hours made' %}</th>
                        <th data-field="hours_bes_done">{% trans 'B.E.S. hours made' %}</th>
                        <th data-field="total_hours">{% trans 'Assigned teaching hours' %}</th>
                        <th data-field="total_hours_bes">{% trans 'Assigned B.E.S. hours' %}</th>
                        <th data-field="hours_substitution_done">{% trans 'Substitution hours made' %}</th>
                    </tr>
                </thead>
                <tbody>
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

    $(document).ready(async () => {
        await loadData();
    });

    async function loadData() {
        let url = _URL['teacher_summary']
        let data = {
            school_year: $('#school_year').val()
        };
        try {
            data = await $.get(url, data=data);
            $('#table').bootstrapTable('load', data);
        }
        catch {}
    }

    async function detailFormatter(index, row, $detail) {
        let url = _URL['hour_per_teacher_in_class'];
        let data = {
            teacher: row.id
        };
        let hpticHtml = '';
        try {
            data = await $.get(url, data=data);
            for (let elem of data) {
                hpticHtml += `
                    <tr>
                      <th scope="row">${elem.subject.name}</th>
                      <td>${elem.course.year} ${elem.course.section}</td>
                      <td>${elem.hours}</td>
                      <td>${elem.hours_bes}</td>
                      <td>${elem.missing_hours}</td>
                      <td>${elem.missing_hours_bes}</td>
                    </tr>
                `;
            }
        }
        catch {}

        let html = `
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th scope="col">{% trans 'Subject' %}</th>
                  <th scope="col">{% trans 'Course' %}</th>
                  <th scope="col">{% trans 'Assigned teaching hours' %}</th>
                  <th scope="col">{% trans 'Assigned B.E.S. teaching hours' %}</th>
                  <th scope="col">{% trans 'Missing teaching hours' %}</th>
                  <th scope="col">{% trans 'Missing B.E.S. hours' %}</th>
                </tr>
              </thead>
              <tbody class="table-secondary">
                ${hpticHtml}
              </tbody>
            </table>
            `;
        $detail.html(html);
    }


    _URL = {
        'teacher_summary': "{% url 'teacher_summary-list' %}",
        'hour_per_teacher_in_class': "{% url 'hour_per_teacher_in_class-list' %}"
    };

{% endblock %}
