{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

<link rel="stylesheet" href="{% static 'main.css' %}"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="col text-center">{% trans "Teachers" %}</h1>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-success mb-2 float-right" href="{% url 'teacher-add' %}" role="button">
                <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                </svg>
                {% trans "Add new" %}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                      <th scope="col">{% trans 'Last name' %}</th>
                      <th scope="col">{% trans 'First name' %}</th>
                      <th scope="col">{% trans 'Send invite' %}</th>
                      <th scope="col">{% trans 'Edit' %}</th>
                      <th scope="col">{% trans 'Delete' %}</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    $(document).ready(async () => {
        await getTeachers();
    });

    async function getTeachers(){
        let url = _URL['teachers'];
        let data = {
            'school_year': $('#school_year').val()
        };
        $('#table-body').empty();
        try{
            data = await $.get(url, data=data);
            for(let teacher of data){
                let html = `
                    <tr>
                        <td scope="row">${ teacher.first_name }</td>
                        <td scope="row">${ teacher.last_name }</td>
                        <td>
                            <button class="btn btn-outline-primary" onclick="sendInvite('${ teacher.email }')">
                                {% trans 'Send invite' %}
                            </button>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" href="${ _URL['teacher_edit'].replace('1234', teacher.id) }" role="button">
                                <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" href="${ _URL['teacher_delete'].replace('1234', teacher.id) }" role="button">
                                <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>`;
                $('#table-body').append(html);
            }
        }
        catch{
            console.log("No teachers");
        }
    }

    async function sendInvite(email){
        let url = _URL['invite'].replace('1234', email);
        let data = {
            csrfmiddlewaretoken: Cookies.get('csrftoken'),
        };
        try{
            data = await $.post(url, data=data);
            alert(_TRANS['sent'])
        }
        catch{
            alert(_TRANS['error'])
        }
    }

    _TRANS = {
        'sent': "{% trans 'Invitation email sent correctly!' %}",
        'error': "° {% trans 'An error appears while sending the invite!' %}"
    };

    _URL = {
        'teachers': "{% url 'teacher-list' %}",
        'teacher_edit': "{% url 'teacher-edit' 1234 %}",
        'teacher_delete': "{% url 'teacher-delete' 1234 %}",
        'invite': "{% url 'teacher_invitation-view' 1234 %}"
    };
{% endblock %}
