{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}"/>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Timetables download' %}</h3>
    </div>
    <div class="row p-2">
        <div class="col text-right">
            {% trans 'School year:' %}
            <select id="school_year" class="form-control form-control-custom" onchange="getEntities()">
                {% for year in school_years %}
                    <option value="{{ year.id }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col text-left">
            {% trans 'Choose a date of the week to print:' %}
            <input type="text" class="form-control form-control-custom datepicker" id="date" data-date-format='dd/mm/yyyy' />
        </div>
    </div>
    <div class="row p-4">
        <div class="col text-center">
            <h5>{% trans 'Teacher timetable' %}</h5>
        </div>
        <div class="col text-center">
            <h5>{% trans 'Course timetable' %}</h5>
        </div>
        <div class="col text-center">
            <h5>{% trans 'Room timetable' %}</h5>
        </div>
        <div class="col text-center">
            <h5>{% trans 'General timetable' %}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <select id="teachers" class="form-control form-control-custom">
            </select>
        </div>
        <div class="col text-center">
            <select id="courses" class="form-control form-control-custom" onchange="getClassYears()">
            </select>
        </div>
        <div class="col text-center">
            <select id="rooms" class="form-control form-control-custom">
            </select>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-danger" role="button" aria-pressed="true" onclick="getGeneralLink()">
                {% trans 'Download Excel' %}
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            <a href="#" class="btn btn-danger" role="button" aria-pressed="true" onclick="getTeacherLink()">
                {% trans 'Download Excel' %}
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-danger" role="button" aria-pressed="true" onclick="getCourseLink()">
                {% trans 'Download Excel' %}
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-danger" role="button" aria-pressed="true" onclick="getRoomLink()">
                {% trans 'Download Excel' %}
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                  <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </div>
        <div class="col text-center">

        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    $(document).ready(() => {
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });
        getEntities();
    });

    function getEntities(){
        getTeachers();
        getCourses();
        getRooms();
    }

    function getTeachers(){
        let url = "{% url 'teacher-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            $("#teachers").empty();
            for(let tea of data){
                $("#teachers").append(`
                    <option value="${tea.id}">${tea.last_name} ${tea.first_name}</option>
                `);
            }
        });
    }

    function getCourses(){
        let url = "{% url 'section_only_course-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            $("#courses").empty();
            for(let course of data){
                $("#courses").append(`
                    <option value="${course.id}">${course.year} ${course.section}</option>
                `);
            }
        });
    }

    function getRooms(){
        let url = "{% url 'room-list' %}";
        let data = {
            'school_year': $('#school_year').val()
        };
        $.get(url, data=data, function(data) {
            $("#rooms").empty();
            for(let room of data){
                $("#rooms").append(`
                    <option value="${room.id}">${room.name}</option>
                `);
            }
        });
    }

    function getTeacherLink(){
        if ($("#date").val() == ''){
            alert("{% trans 'Select a date!' %}");
            return;
        }

        let date = moment($("#date").val(), 'DD-MM-YYYY');
        //get the monday of the week
        date = date.day(1).format('YYYY-MM-DD');
        let school_year = $('#school_year').val();
        let teacher = $('#teachers').val();
        let url = "{% url 'timetable_teacher_csv_report' 1234 9999 '0000-00-00' %}"
            .replace('1234', school_year)
            .replace('9999', teacher)
            .replace('0000-00-00', date);

        window.location.href = url;
    }
    function getCourseLink(){
        if ($("#date").val() == ''){
            alert("{% trans 'Select a date!' %}");
            return;
        }

        let date = moment($("#date").val(), 'DD-MM-YYYY');
        //get the monday of the week
        date = date.day(1).format('YYYY-MM-DD');
        let school_year = $('#school_year').val();
        let course = $('#courses').val();
        let url = "{% url 'timetable_course_csv_report' 1234 9999 '0000-00-00' %}"
            .replace('1234', school_year)
            .replace('9999', course)
            .replace('0000-00-00', date);

        window.location.href = url;
    }
    function getRoomLink(){
        if ($("#date").val() == ''){
            alert("{% trans 'Select a date!' %}");
            return;
        }

        let date = moment($("#date").val(), 'DD-MM-YYYY');
        //get the monday of the week
        date = date.day(1).format('YYYY-MM-DD');
        let school_year = $('#school_year').val();
        let room = $('#rooms').val();
        let url = "{% url 'timetable_room_csv_report' 1234 9999 '0000-00-00' %}"
            .replace('1234', school_year)
            .replace('9999', room)
            .replace('0000-00-00', date);

        window.location.href = url;
    }
    function getGeneralLink(){
        if ($("#date").val() == ''){
            alert("{% trans 'Select a date!' %}");
            return;
        }

        let date = moment($("#date").val(), 'DD-MM-YYYY');
        //get the monday of the week
        date = date.day(1).format('YYYY-MM-DD');
        let school_year = $('#school_year').val();
        let url = "{% url 'timetable_general_csv_report' 1234 '0000-00-00' %}"
            .replace('1234', school_year)
            .replace('0000-00-00', date);

        window.location.href = url;
    }
{% endblock %}
