{% extends 'timetable/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<!-- TODO: change using git submodule -->
<link rel="stylesheet" href="https://raw.githack.com/DHZ-calendar/timetable.js/develop/timetable.css"/>
<script src="https://raw.githack.com/DHZ-calendar/timetable.js/develop/timetable.js"></script>

<script src="{% static 'manage_timetable.js' %}"></script>
<link rel="stylesheet" href="{% static 'main.css' %}"/>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col text-center">{% trans 'Plan a timetable' %}</h3>
    </div>
    <div class="row">
        <div class="col-10 col-teacher-list">
            <div class="row">
                <div class="col-5">
                    <div class="col">
                        {% trans 'School year:' %}
                        <select id="school_year" class="form-control form-control-custom" onchange="getClassYears()">
                            {% for year in school_years %}
                                <option value="{{ year.id }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col mt-2">
                        {% trans 'Choose a class:' %}
                        <select id="course_year" class="form-control form-control-custom" onchange="getClassSections()">
                        </select>
                        {% trans 'section:' %}
                        <select id="course_section" class="form-control form-control-custom" onchange="loadData()">
                        </select>
                    </div>
                </div>
                <div class="col-5 row">
                    <div class="col-12"><b>{% trans 'Legend' %}:</b></div>
                    <div class="col-6">
                        <span class="legend-label cal-event">{% trans 'Lecture' %}</span>
                    </div>
                    <div class="col-6">
                        <span class="legend-label cal-event-bes">{% trans 'B.E.S.' %}</span>
                    </div>
                    <div class="col-6">
                        <span class="legend-label cal-event-co-teaching">{% trans 'Co-teaching' %}</span>
                    </div>
                    <div class="col-6">
                        <span class="legend-label cal-event-absent">{% trans 'Absence of the teacher' %}</span>
                    </div>
                    <div class="col-6">
                        <span class="legend-label cal-event-substitution">{% trans 'Substitution lecture' %}</span>
                    </div>
                    <div class="col-6">
                        <span class="legend-label cal-block-conflict">{% trans 'Collision with other lectures' %}</span>
                    </div>
                    <div class="col-6">
                        <span class="legend-label cal-block-absence">{% trans 'Hours blocked for a teacher' %}</span>
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary btn-functions" data-toggle="modal" data-target="#modalExtraLecture">{% trans 'Add extra lecture'%}</button>            
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-danger btn-functions" data-toggle="modal" data-target="#modalReplicateWeek">{% trans 'Replicate week'%}</button>            
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row py-3">                
                        <div class="col text-left">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="goPrevWeek()">&lArr; {% trans 'Previous week'%}</button>
                        </div>
                        <div class="col text-center">
                            <input class="datepicker form-control form-control-custom form-control-sm" data-date-format='dd/mm/yyyy' type="text" id="navigation_date"></input>
                            <button type="button" class="btn btn-sm btn-info" id="btn-go-date">
                                {% trans 'Go'%}
                            </button>            
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="goNextWeek()">{% trans 'Next week'%} &rArr;</button>
                        </div>
                    </div>
                    <table class="container-fluid" id="calendar">
                    </table>
                </div>        
            </div>
        </div>
        <div class="col-2 col-teacher-list">
            {% trans 'List of teachers:' %}
            <ul class="list-group" id="teachers_list">                                
            </ul>
        </div>
    </div>
</div>

<!-- Modal extra lecture -->
<div class="modal fade" id="modalExtraLecture" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{% trans 'Add extra lecture slot' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans 'Day of week' %}:
                <select class="custom-select" id="day_of_week">
                    <option value="0">{% trans 'Monday' %}</option>
                    <option value="1">{% trans 'Tuesday' %}</option>
                    <option value="2">{% trans 'Wednesday' %}</option>
                    <option value="3">{% trans 'Thursday' %}</option>
                    <option value="4">{% trans 'Friday' %}</option>
                    <option value="5">{% trans 'Saturday' %}</option>
                </select>

                {% trans 'Hour start' %}:
                <input type="text" id="hour_start" class="form-control timepicker" data-append-widget-to="#modalExtraLecture" />

                {% trans 'Hour end' %}:
                <input type="text" id="hour_end" class="form-control timepicker" data-append-widget-to="#modalExtraLecture" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-success" onclick="addExtraBlock()">{% trans 'Add' %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal replicate lectures -->
<div class="modal fade" id="modalReplicateWeek" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{% trans 'Replicate lectures of this week' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans 'Date start' %}:
                <input type="text" id="date_start" class="form-control datepicker" data-date-format='dd/mm/yyyy' />

                {% trans 'Date end' %}:
                <input type="text" id="date_end" class="form-control datepicker" data-date-format='dd/mm/yyyy' />
                <hr/>
                <div id="replicateResult">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-info" onclick="checkReplicateWeek()">{% trans 'Check conflicts' %}</button>
                <button type="button" class="btn btn-success" onclick="replicateWeek()">{% trans 'Replicate lectures' %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal choose room -->
<div class="modal fade" id="modalChooseRoom" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{% trans 'Assign a room' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans 'Available rooms' %}:
                <select class="custom-select" id="roomSelect">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" id="btn-room-add-assignment" class="btn btn-info">{% trans 'Add lecture' %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    let timetable;
    let currentDate;
    $(document).ready(async () => {
        $('.timepicker').timepicker({
            minuteStep: 1,
            showSeconds: false,
            showMeridian: false,
            defaultTime: false
        });
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });

        $("#modalReplicateWeek").on("hidden.bs.modal", function() {
            $("#replicateResult").html("");
        });

        $('#date_start, #date_end').change(() => {
            $("#replicateResult").empty();
        });

        let cal = $("#calendar");
        timetable = new Timetable(cal, 7, 23);

        let blockStates = {
            'available': 'cal-block-available',
            'absence': 'cal-block-absence',
            'conflict': 'cal-block-conflict'
        };
        timetable.setMapOfBlockStates(blockStates);

        //find the first day of the week        
        currentDate = moment().day(1).toDate();

        await loadData(false);
        await getClassYears();

        $('#btn-go-date').click(async () => {
            let date = $('#navigation_date').datepicker('getDate');
            currentDate = moment(date).day(1).toDate();
            await loadData();
            $('#navigation_date').val('');
        });
    });

    _TRANS = {
        'extra_block_title': "{% trans 'Extra lecture' %}",
        'lecture_title': "° {% trans 'lecture' %}",
        'hours_teaching': "{% trans 'Hours of theaching' %}",
        'hours_bes': "{% trans 'B.E.S.' %}",
        'hours_co-teaching': "{% trans 'Co-teaching' %}",
        'missing_hours': "{% trans 'Missing hours' %}",
        'assign_lecture': "{% trans 'Assign lecture' %}",
        'assign_bes': "{% trans 'Assign B.E.S.' %}",
        'assign_co-teaching': "{% trans 'Assign co-teaching' %}",
        'delete_lecture_msg': "{% trans 'Are you sure to delete this lecture?' %}",
        'week_replicated_msg': "{% trans 'Week replicated!' %}",
        'conflict_dates_msg': "{% trans 'Conflict on date' %}",
        'teacher_conflicts': "{% trans 'Teacher conflicts' %}",
        'course_conflicts': "{% trans 'Course conflicts' %}",
        'room_conflicts': "{% trans 'Room conflicts' %}",
        'no_room': "{% trans 'No room' %}"
    };

    _URL = {
        'hour_slot': "{% url 'hour_slot-list' %}",
        'year_only_course': "{% url 'year_only_course-list' %}",
        'section_only_course': "{% url 'section_only_course-list' %}",
        'hour_per_teacher_in_class': "{% url 'hour_per_teacher_in_class-list' %}",
        'assignments': "{% url 'assignments-list' %}",
        'holiday': "{% url 'holiday-list' %}",
        'stage': "{% url 'stage-list' %}",
        'room': "{% url 'room-list' %}",
        'teacher_assignments': "{% url 'teacher_assignments-list' 12345 99999 %}",
        'teacher_absence_blocks': "{% url 'teacher_absence_blocks-list' 12345 99999 %}",
        'check_week_replication': "{% url 'check_week_replication-view' '0000-00-00' '9999-99-99' %}",
        'replicate_week': "{% url 'replicate_week-view' 12345 99999 '0000-00-00' '9999-99-99' %}",
    };
{% endblock %}
