{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}

{% block form %}
    <form method="post" class="form-group col text-center">
        {% csrf_token %}
        {{ form.as_p }}

        <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
        <p class="mt-4 text-center">
            {% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!
        </p>
    </form>
{% endblock %}